@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    user-select: none;
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#timer {
    transform: scaleX(.6);
    transform-origin: left;
    text-align: left;
    position: absolute; 
    z-index: 9999; 
    font-size: 5rem; 
    left: 10px; 
    top: -15px; 
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 2px black,
               2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black
               , 0px 5px 10px black;
    /* display: none; */
}

html {
    overflow: hidden;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
}

#game {
    display: none;
}

#level-select {
    /* display: none; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#level-select * {
    position: relative;
}

#level-select-background {
    width: 1600px;
    height: 1080px;
    position: absolute;
    z-index: -1;
}

#level-list {
    position: absolute;
    left: 0vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#level-list > .level-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;    
} 

#level-list::before {
    content: '';
    height: 100vh;
    width: 100px;
    background: black;
    position: absolute;
    left: 0px;
    top: 0px;
}

#level-list::after {
    content: '';
    height: 100vh;
    width: 100px;
    background:  black;
    position: absolute;
    right: 0px;
    top: 0px;
}

.level {
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, .2);
}

#title {
    position: absolute;
    top: -100px;
    left: 0;
    /* left: calc(-100vw + 250px); */
    color: red;
    text-align: center;
    font-size: 4.5rem;
    background-color: black;
    /* padding: 20px; */
    padding-top: 130px;
    width: 100vw;
    /* rotate: -8deg; */
}
