@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@font-face {
    font-family: "uasquare";
    src: url("./fonts/UASQUARE.TTF") format("truetype");
}

@font-face {
    font-family: "metro";
    src: url("./fonts/Metro.otf") format("truetype");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    user-select: none;
    font-family: "uasquare", sans-serif; /*"Tektur"*/
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

:root {
    --main-color: rgba(255, 0, 0, 255);
    --background-tile-color: rgba(0, 0, 0, 255);
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.screen-only {
    visibility: hidden;
}

.override {
    position: absolute;
    inset: 0;
    z-index: 9999;
    pointer-events: none;
}

#game {
    z-index: -2;
}

#game-content {
    display: none;
}

#game-content * {
    font-family: "metro", sans-serif; /*"Stalinist One"*/
    font-weight: 400;
    font-style: normal;
}

#game-ui {
    width: 100vw;
    height: 100vh;
    text-align: left;
    position: absolute; 
    font-size: 1.5rem;
    text-shadow: 2.5px 0 var(--background-tile-color), -2.5px 0 var(--background-tile-color), 0 2.5px var(--background-tile-color), 0 2.5px var(--background-tile-color),
               2.5px 2.5px var(--background-tile-color), -2.5px -2.5px var(--background-tile-color), 2.5px -2.5px var(--background-tile-color), -2.5px 2.5px var(--background-tile-color)
               /* , 0px 2px 10px rgba(0, 0, 0, .5); */
    /* display: none; */
}

#game-ui .top-left {
    z-index: 9997; 
    position: absolute;
    left: 10px; 
    top: -10px;
    width: calc(100vw - 10px);
    height: calc(100vh + 10px);
}

#game-ui .top-left * {
    color: var(--main-color);
    transform: scaleX(.6);
    width: 150%;
    transform-origin: left;
    
    flex-direction: column;
    margin-bottom: -10px;
}

#game-controls {
    position: absolute;
    display: flex;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    inset: 0;
    opacity: 0;
}

#game-controls * {
    flex: 1
}

#game-controls *:hover {
    cursor: unset;
}

#game-ui .top-right {
    z-index: 9999;
    position: absolute;
    display: none;
    right: 5px;
    top: 3px;
}

#game-ui .top-right button {
    color: var(--main-color);
    font-weight: 900;
    background-color: transparent;
    right: 10px;
    top: 3px;
    width: 80px;
    height: 80px;
    font-size: 4rem;
    text-shadow: 1.5px 0 var(--background-tile-color), -1.5px 0 var(--background-tile-color), 0 1.5px var(--background-tile-color), 0 1.5px var(--background-tile-color),
               1.5px 1.5px var(--background-tile-color), -1.5px -1.5px var(--background-tile-color), 1.5px -1.5px var(--background-tile-color), -1.5px 1.5px var(--background-tile-color)
               /* , 0px 2px 10px rgba(0, 0, 0, .5); */
}

#timer {
    margin-top: 10px;
    font-size: 5rem; 
}

#game-new-personal-best-msg {
    color: var(--main-color);
    display: none;
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 130vw;
    text-align: center;
    transform: translateX(-50%) scaleX(.6);
    font-size: 4rem;
    animation: personal-best-anim .5s infinite ease-out alternate;
}

@keyframes personal-best-anim {
    from {
        transform: translateX(-50%) scaleX(.6);
    }
    to {
        transform: translateX(-50%) scaleX(.75) scaleY(1.2);
    }
}

html {
    overflow: hidden;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
}

#level-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#level-select > * {
    position: relative;
}

@font-face {
    font-family: "hexagons";
    src: url("./fonts/HEXAGON_.TTF") format("truetype");
}

#level-list {
    position: relative;
    left: -150px;
    padding: 10px;
    max-height: 100%;
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    /* for proper overflow hide */
    padding-right: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#level-list, #selected-level {
    overflow-y: auto;
    scrollbar-width: 100px;    
}

#level-list::-webkit-scrollbar, #selected-level::-webkit-scrollbar {
    display: none;
}

/* #selected-level::-webkit-scrollbar {
    display: block;
    width: 8px;
}

#selected-level::-webkit-scrollbar-track {
    background: var(--main-color);
}

#selected-level::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, var(--main-color) 30%, black 3%, black 100%);
} */

.container {
  scrollbar-width: thin;
  scrollbar-color: linear-gradient(to right, var(--main-color) 30%, black 3%, black 100%) var(--main-color); /* thumb, track */
}

.level {
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% + 50px);
    border: 2px solid var(--main-color);
    padding: 10px 0;
    padding-right: 20px;
    font-size: 1rem;
    left: 0;
    transition: left .15s ease;
}

.level.selected-animation {
    animation: level-tab-anim .2s ease-out forwards;
}
.level.unselected-animation {
    animation: level-tab-anim .2s ease-in forwards reverse;
}

@keyframes level-tab-anim {
    from {
        height: 100px;
        transform: none
    } to {
        font-size: 1.5rem;
        transform: translateX(100px);
        height: 150px;
    }
}

.level, #selected-level {
    backdrop-filter: hue-rotate(180deg) brightness(.9);
}

.level:hover {
    filter: hue-rotate(180deg) brightness(2);
    left: 30px !important;
}

.level * {
    text-align: right;
    width: 100%;
    color: var(--main-color);
}

.level .name {
    font-size: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

.level .author {
    font-size: 1em;
    opacity: .5;    
}

#selected-level {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    position: relative;
    width: 600px;
    height: 100%;
    border-left: 2px solid var(--main-color);

    border: none;
    backdrop-filter: none;
}

@media (min-width: 1068px) {
    #selected-level {
        right: 10px !important;
        bottom: 0 !important;
        top: 0 !important;
    }
}

#selected-level p, #selected-level h1 {
    padding: 0px 10px;
}

#selected-level * {
    color: var(--main-color);
}

#selected-level > * {
    width: 100%;
}

#selected-level.show {
    animation: selected-level-tab-anim .2s ease-out forwards
}

#selected-level.hide {
    animation: selected-level-tab-anim .2s ease-in forwards reverse
}

@keyframes selected-level-tab-anim {
    from {
        top: -100vh;
    } to {
        top: 0;
    }
}

#selected-level .title-name {
    font-size: 5rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

#selected-level .tab {
    border: 2px solid var(--main-color);
    backdrop-filter: hue-rotate(180deg) brightness(.9);
    padding: 10px 0;
    margin: 10px 0;
}

#selected-level .tab .title {
    margin-bottom: 10px;
}

#selected-level .top {
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0px black,
    2px 2px 0px black,
    3px 3px 0px black,
    4px 4px 0px black,
    5px 5px 0px black;
    transform: skewY(-2deg);
    padding: 0 0px;
    flex: 1;
}

#selected-level .top.animate {
    animation: selected-level-top-anim .15s ease-out;
}

@keyframes selected-level-top-anim {
    from {
        width: 97%;
        scale: 1.04;
    }
    to {
        width: 100%;
        scale: 1;
    }
}

#selected-level .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#selected-level .best {
    font-size: 8rem;
    text-align: center;
    width: 100%;
}

#play-btn {
    display: none;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    color: black;
    font-size: 6rem;
}

#info-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--background-tile-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 10px;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
}

#info-popup h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}

#info-popup p {
    margin-top: 5px;
    font-size: 1.5rem;
    text-align: center;
}

#info-popup img {
    border: 2px solid var(--main-color);
    margin: 0 auto;
    display: inline-block;
    max-height: 100px;
}

#info-popup .games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

@media (max-width: 1068px) {
    html {
        font-size: .8rem;
    }

    .level {
        position: unset;
        transform: unset;

        width: 100%;
        padding: 10px;
    }

    #selected-level {
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0);
        width: 100vw;
        height: 100vh;
        right: 0;
        border: 2px solid var(--main-color)
    }

    #selected-level .tab {
        background-color: unset;
        backdrop-filter: unset
    }

    #play-btn {
        display: block;
    }

    #level-list {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        width: 100vw;
        height: 100vh;
        padding: 10px;  
    }

    #selected-level {
        background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 1));
        flex-direction: row-reverse;
        align-items: center;
    }

    #selected-level .top {
        border-left: 3px solid var(--main-color);
        transform: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-width: 45vw;
    }

    #selected-level .level-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 1.5rem;
    }

    #selected-level .level-info * {
        margin: 0px;
        flex: 1;
    }

    .level.selected-animation, .level.unselected-animation { animation: unset }
    .level.selected-animation {
        filter: hue-rotate(180deg);
        background-color: rgba(255, 255, 255, .2);
    }

    .screen-only {
        visibility: visible;
    }
}