#game {
    z-index: -2;
}

#game-content {
    display: none;
}

#game-content * {
    font-family: "metro", sans-serif; /*"Stalinist One"*/
    font-weight: 400;
    font-style: normal;
}

#game-ui {
    width: 100vw;
    height: 100vh;
    text-align: left;
    position: absolute; 
    font-size: 1.5rem;
    text-shadow: 1.5px 0 var(--background-tile-color), -1.5px 0 var(--background-tile-color), 0 1.5px var(--background-tile-color), 0 1.5px var(--background-tile-color),
               1.5px 1.5px var(--background-tile-color), -1.5px -1.5px var(--background-tile-color), 1.5px -1.5px var(--background-tile-color), -1.5px 1.5px var(--background-tile-color)
               /* , 0px 2px 10px rgba(0, 0, 0, .5); */
    /* display: none; */
}

#game-ui .top-left {
    z-index: 9997; 
    position: absolute;
    left: 7px; 
    top: 0px;
    width: calc(100vw - 7px);
    height: calc(100vh);
}

#game-ui .top-left p {
    color: var(--main-color);
    transform: scaleX(.6);
    width: 150%;
    transform-origin: left;
    
    flex-direction: column;
    margin-bottom: -10px;
}

#game-controls {
    position: absolute;
    display: flex;
    z-index: 9998;
    width: 100vw;
    height: 100vh;
    inset: 0;
    opacity: 0;
}

#game-controls * {
    flex: 1
}

#game-controls *:hover {
    cursor: unset;
}

#game-ui .top-right {
    z-index: 9999;
    position: absolute;
    display: none;
    right: 5px;
    top: 3px;
}

#trackers {
    margin-top: 10px;
    font-size: inherit;
}

#game-ui .top-right button {
    color: var(--main-color);
    font-weight: 900;
    background-color: transparent;
    right: 10px;
    top: 3px;
    width: 80px;
    height: 80px;
    font-size: 4rem;
    text-shadow: 1.5px 0 var(--background-tile-color), -1.5px 0 var(--background-tile-color), 0 1.5px var(--background-tile-color), 0 1.5px var(--background-tile-color),
               1.5px 1.5px var(--background-tile-color), -1.5px -1.5px var(--background-tile-color), 1.5px -1.5px var(--background-tile-color), -1.5px 1.5px var(--background-tile-color)
               /* , 0px 2px 10px rgba(0, 0, 0, .5); */
}

#game-score {
    margin-top: -12px;
    font-size: 5rem; 
}

#game-message {
    position: absolute;
    top: 20vh;
    left: 50vw;
    width: 166vw;
    transform-origin: left;
    transform: scaleX(.6) translateX(-50%);
    font-size: 2rem;
    text-align: center;
    white-space: pre-line;
}

#game-pulsing-msg {
    color: var(--main-color);
    display: none;
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 130vw;
    text-align: center;
    transform: translateX(-50%) scaleX(.6);
    font-size: 4rem;
    animation: personal-best-anim .5s infinite ease-out alternate;
}

#completable-level-progress-bar {
    display: none;
    /* border: 1px solid var(--main-color); */
    position: relative;
    width: 100vw;
    height: 10px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /* box-shadow: 1px 0 var(--background-tile-color), -1px 0 var(--background-tile-color), 0 1px var(--background-tile-color), 0 1px var(--background-tile-color), */
                /* 1px 1px var(--background-tile-color), -1px -1px var(--background-tile-color), 1px -1px var(--background-tile-color), -1px 1px var(--background-tile-color); */
}

#completable-level-progress-bar::after {
    content: '';
    position: absolute;
    inset: 0;    
    backdrop-filter: blur(100px);
    z-index: -1;
    /* opacity: 0; */
}

#completable-level-progress {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
    width: 0%;
}

@keyframes personal-best-anim {
    from {
        transform: translateX(-50%) scaleX(.6);
    }
    to {
        transform: translateX(-50%) scaleX(.75) scaleY(1.2);
    }
}
